/* .github-button{
    padding: 10px 20px;
    border:1px solid black;
    border-radius: 10px;
    margin:0 20px;
box-shadow: 10px 10px 10px #d6ddd8;
}
.github-button:hover {
    background-image: linear-gradient(to top right,#570DF8, #6093);
    color:#fff;
    border:none;
} */

.alice-carousel__prev-btn{
    padding:0;
}
.alice-carousel__dots{
    margin: 0;
}
#img{
    height:300px;
    
}

.pagination {
  display:flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 2rem 0;
  
}

.previous_page, .next_page {
    color: white;
    margin:20px;
    background-color: #5F8D4E;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
.previous_page:hover, .next_page:hover {
    background-color: #8c8c8c;
}




.pagination li a:not(.previous_page):not(.next_page)   {
    display:none;
}
.disabled {
    display: none;
}
  
.active {
    font-weight: bold;
}